* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.outer-container {
    width: 100vw;
    height:calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-outer-container {
    height:calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}