/* width */
.scrollbar::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
.scrollbar::-webkit-scrollbar-track {
    background: #75C2F6;
    box-shadow: inset 0 0 5px grey; 
    border-radius:4px;
}
   
/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #1D5D9B; 
    border-radius:4px;
}
  
/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #447fb9;
}

/* Styles for todo items container */
#todos-container {
    max-height:50vh;
    overflow-y:auto;
    width:100%;
    position: relative;
}

/* Styles for single todo item */
#todoItem-container {
    display:flex;
    width:90%;
    padding:0.5rem 0.5rem;
    border-bottom: 1px solid #75C2F6;
}

#comp-input-container {
    width:10%;
}

#todoInfo-container {
    width:80%;
}

#todoTitle-container {
    font-weight:bold;
}

#delTodo-container {
    color:rgb(240, 18, 18);
}